<div class="row mt-5" id="form-inputs">
    <div class="col-md-12 mx-auto d-block">
        <div class="card mb-3">
            <div class="row" style="justify-content: center;">
                <div class="col-md-12">
                    <div class="card-body col-lg-12">
                        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img class="form-img" src="../../../../assets/company.png" />
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text"
                                            class="form-control border-top-0 border-left-0 border-right-0" ngModel
                                            name="company_name" placeholder="Company Name" required>
                                    </div>

                                    <div class="col-md-1">
                                        <img class="form-img" src="../../../../assets/title.png" />
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text"
                                            class="form-control border-top-0 border-left-0 border-right-0" ngModel
                                            name="title" placeholder="Title" required>
                                    </div>
                                </div>


                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img class="form-img" src="../../../../assets/start.png" />
                                    </div>
                                    <div class="col-md-5">

                                        <input placeholder="Start Date" ngModel name="start_date" matInput
                                            [matDatepicker]="picker">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <!-- <input type="text" class="form-control border-top-0 border-left-0 border-right-0" ngModel name="start_date" placeholder="Start Date" required> -->
                                    </div>

                                    <div class="col-md-1">
                                        <img class="form-img" src="../../../../assets/location.png" />
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text"
                                            class="form-control border-top-0 border-left-0 border-right-0" ngModel
                                            name="location" placeholder="Location" required>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img class="form-img" src="../../../../assets/description.png" />
                                    </div>
                                    <div class="col-md-11">
                                        <textarea class="form-control" ngModel name="description" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button [disabled]="!authForm.valid" class="btn btn-secondary btn-sm">Add Job</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="card" *ngIf="workHistoryArray.length==0 && !isLoading">
    <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
        <img src="../../../../assets/empty.png" />
        <h2>No Work history added yet...!</h2>
    </div>
</div>
<div *ngIf="isLoading" class="row" style="justify-content: center;">
    <mat-spinner></mat-spinner>
</div>

<div class="scrollable" *ngIf="!!workHistoryArray && !isLoading">
    <ng-container *ngFor="let item of workHistoryArray">
        <app-job-history-card [work]="item"></app-job-history-card>
        <hr>
    </ng-container>
</div>

<br>
<br>