.header{
    background-color: rgb(68, 68, 68)!important;
    min-height: 4rem;
    color: white;
}
.navbar .dropdown-menu{
    width: 40vh;
}
.navbar .dropdown-menu a:not(.active) {
    color: #fff9f9;
}
.navbar .dropdown-menu a:not(.active):hover {
    color: #000000;
}
.logo{
    width: 160px;
    margin-top: -40px;
    margin-bottom: -40px;
}
.nav-link{
    color: rgb(255, 255, 255)!important;
}