
.img{
    margin:2px;
    max-width: 25px;
    max-height: 25px;
}
.card{
    max-height: fit-content;
}
.info {
    padding-top:5px;
    margin-left: 5px;
}
.form-img{
    max-width: 70%;
    max-height: 70%;
}

@media screen and (max-width: 361px) {
    .form-img{
        max-width: 60%;
        max-height: 60%;

    }
    .col-md-1{
        display: flex;
        justify-content: center;
    }
   
   }
.scrollable {
    overflow-y: scroll;
    max-height: 40vh;
}
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }